@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Oswald:wght@200;400&family=Roboto:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aquamarine;
}

/* Main Area */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



h1 {
    font-family: 'Roboto';
    font-weight: 500;
    color: rgb(47, 124, 124);
}

section {
     
}


.task-btn {
    padding: 0 10px 0 5px;
    border-radius: 0 10px 10px 0;
    border: none;
    background-color: rgb(69, 148, 148);
    color: white;
    cursor: pointer;
}

.task-btn:hover {
    background-color: rgb(47, 124, 124);
    color: white;
}


.task-add:hover {  
    color: white;
}

.input-area {
    height: 70px;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.task-name:focus {
    outline: none;
}

/* Inputs */
.task-name {
    font-family: 'Roboto';
    font-weight: 300;
    border-radius: 10px 0 0 10px;
    border: none;
    font-size: 1.125rem;
    padding-left: 15px;
    color:  rgb(69, 148, 148);
}

.task-name::selection {
    background-color: rgb(69, 148, 148);
    color: white;
}

.task-area {
    padding: 2px;
    width: 17rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: right;
    background-color: white;
    border-radius: 10px;
}
 
.task-item {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 1.4rem;
    color: rgb(75, 114, 101);
    padding: 2.5px 10px;
    cursor: pointer;
    border-bottom: 1px dotted black;
}

.task-item:hover {
    font-size: 1.5rem;
    padding: 1.5px 8px;
    color: #000;
    transition: color 400ms ease-in-out;
}