@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Oswald:wght@200;400&family=Roboto:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: green;
}

/* Main Area */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
     
}

main {
    background-color: red;
}

.task-btn {
    padding: 0 10px 0 5px;
    border-radius: 0 10px 10px 0;
    border: none;
    background-color: rgb(69, 148, 148);
    color: white;
    cursor: pointer;
}

.task-btn:hover {
    background-color: rgb(47, 124, 124);
    color: white;
}


.task-add:hover {  
    color: white;
}

.input-area {
    height: 70px;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.task-name:focus {
    outline: none;
}

/* Inputs */
.task-name {
    border-radius: 10px 0 0 10px;
    border: none;
    font-size: 1.3rem;
    padding-left: 15px;
    color:  rgb(69, 148, 148);;
}

.task-area {
    display: flex;
    flex-direction: column;
    background-color: yellow;
}